Repository sibiraj-s/copy-asset-in-memory-webpack-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: update snapshots
  tests/__snapshots__/basic.test.js.snap
Due: none

release: v3.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: setup actions cache
  .github/workflows/npmpublish.yml
Due: prettier --write

chore: update devDependencies
  package-lock.json
  package.json
Due: none

chore: drop nodejs 10 support
  package.json
Due: none

ci: use nodejs v16
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: update package-lock.json
  package-lock.json
Due: none

release: v4.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: remove actions/cache
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: update dependencies and devDependencies
  .husky/.gitignore
  package-lock.json
  package.json
Due: none

fix: update typings
  src/index.d.ts
Due: none

chore: update deprecated npx commands
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: prefer jest/globals
  .eslintrc.yml
  package-lock.json
  package.json
  tests/basic.test.js
Due: eslint --fix, prettier --write

chore: update schema-utils to v4
  package-lock.json
  package.json
Due: none

release: v4.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: update devDependencies
  package-lock.json
  package.json
Due: none

ci: update actions/checkout to v3
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

ci: update actions/setup-node to v3
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

build(deps-dev): update devDependencies
  package-lock.json
  package.json
Due: none

ci: update to nodejs v18
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: update husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

build: bump devDependencies
  package-lock.json
  package.json
Due: none

chore: bump devDependencies
  package-lock.json
  package.json
  tests/__snapshots__/basic.test.js.snap
Due: none

chore: update LICENSE
  LICENSE
Due: none

ci: add npm package provenance
  .github/workflows/npmpublish.yml
Due: prettier --write

chore: configure publint
  .husky/pre-push
  package-lock.json
  package.json
Due: none

ci: fix workflow permissions
  .github/workflows/tests.yml
Due: prettier --write

ci: fix workflow permissions (#8)
  .github/workflows/tests.yml
Due: prettier --write

chore: update to node 24
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
  mise.toml
  package-lock.json
Due: prettier --write

chore: update github actions
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: bump dependencies and update linter
  .commitlintrc.yml
  .eslintrc.yml
  .lintstagedrc.yml
  .oxfmtrc.json
  .oxlintrc.json
  README.md
  jest.config.js
  package-lock.json
  package.json
  scripts/install-husky.sh
  src/index.js
  src/options.schema.json
  tests/__snapshots__/basic.test.js.snap
Due: eslint --fix, prettier --write

chore: specify package type
  package.json
Due: none

chore: regenerate package-lock.json
  package-lock.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{md,yml}
